/* Variables */
:root {
    --color-primary: #0c5163;     /* Color principal */
    --color-secondary: #6ab8bf;   /* Color secundario */
    --color-tertiary: #9fced3;     /* Color terciario */

    --color-body-bg: #f7f2f2;       /* Color de fondo del body */
    --color-button-hover: #0b3f4c;  /* Color de fondo del botón al hacer hover */
    --border-radius-image: 0.5rem;  /* Borde redondeado para las imágenes */

}

/* Reset y configuración básica */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color-body-bg);
}

footer{
    margin: 0;
    padding: 0;

}

/* Estilos de texto */
h1 {
    font-size: 4rem;
}

/* Fondo de pantalla completo */
.main-parent-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
}


.main-child-container
{
    grid-area: 2 /2;
}
/* Estilos generales de botones */
.button-main {
    color: #fff;
    border-radius: 1rem;
    background-color: var(--color-primary);
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    width: 100%;
    justify-content: center;  
    align-items: center;
    display: flex; /* Para centrar el texto en disp moviles */
}

.button-main:hover {
    background-color: var(--color-button-hover);
}

/* Estilos de imagen */
.landscape-image {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-image);
}
