/* Variables */
:root {
    --color-primary: #0c5163;     /* Color principal */
    --color-secondary: #6ab8bf;   /* Color secundario */
    --color-tertiary: #9fced3;     /* Color terciario */

    --color-body-bg: #f7f2f2;       /* Color de fondo del body */
    --color-button-hover: #0b3f4c;  /* Color de fondo del botón al hacer hover */
    --placeholder-color: #835b5b;
    --text-brand-colors: #195b61;

    --border-radius-image: 0.5rem;  /* Borde redondeado para las imágenes */
    --danger-color: #dc3545;        /* Color de alerta */
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/* Reset y configuración básica */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.5rem;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color-body-bg);
}

footer{
    margin: 0;
    padding: 0;

}

/* Estilos de texto */
h1 {
    font-size: 4rem;
}

/* Fondo de pantalla completo */
.main-parent-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    min-height: 100vh;
}


.main-child-container
{
    grid-area: 2 /2;
}
/* Estilos generales de botones */
.button-main {
    padding: 0.4rem 2rem;
    width: 250px; /* Establece un ancho fijo para el botón */
    margin-left: auto; /* Centrado automático desde la izquierda */
    margin-right: auto;
    background-color: #034c5d;
    font-size: 1.9rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    color: #fff;
    border: none;
    border-radius: .5rem;
    text-decoration:none;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-main:hover {
    background-color: var(--color-button-hover);
    transform: scale(1.05);
}
.button-main:active {
    transform: scale(1);  /* Desactiva la escala al hacer clic */
}


/* Botón borrar con alerta */
.button-main.danger {
    background: var(--danger-color);
}


/* Estilos de imagen */
.landscape-image {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-image);
}


.menu-buttons
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.vertical
{
    flex-direction: row;
}

.delete
{
    background-color: #dc3545;
}

.delete:hover
{
    background-color: #612727;
}
 /* Alertas */
.swal2-popup {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    background-color: var(--color-body-bg);
    border: .2rem solid var(--color-secondary);
}


/* Estilos de imagen */
.landscape-image {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius-image);
}

#introduction-data
{
    text-align: center;
}