<div class="main-parent-container freemode-container" >
    <div class="profile-container main-child-container ">
      <h2>Buscar Restaurantes</h2>
  
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="search-section" class="search">
          <input
            type="text"
            class="search-input"
            formControlName="searchQuery"
            placeholder="Escribe la ciudad"
            required
          />
          <button class="button-main" type="submit" [disabled]="searchForm.invalid">
            <i class="fas fa-search"> Buscar</i>
          </button>
        </div>
      </form>
  
      <div class="results-section" *ngIf="restaurants.length > 0" id="restaurants-list">
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Dirección</th>
              <th>Ciudad</th>
              <th>País</th>
              <th>Ver detalles</th>
              <th>Ver imagenes</th>
              <th>Ver opiniones</th>
              <th>Agregar viaje</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let restaurant of restaurants">
              <td>{{ restaurant.name }}</td>
              <td>{{ restaurant.address_obj.street1 }}</td>
              <td>{{ restaurant.address_obj.city }}</td>
              <td>{{ restaurant.address_obj.country }}</td>
              <td>
                <button class="button-main" (click)="verDetalles(restaurant.location_id)">
                  <i class="fas fa-plus"></i> detalles
                </button>
                </td>
                <td>
                  <button class="button-main" (click)="verImagenes(restaurant.location_id)">
                    <i class="fas fa-plus"></i> Imagenes
                  </button>
                  </td>
                  <td>
                    <button class="button-main" (click)="verOpiniones(restaurant.location_id)">
                      <i class="fas fa-plus"></i> opiniones
                    </button>
                    </td>
                <td>
                  <button class="button-main" (click)="agregarViaje(restaurant)">
                    <i class="fas fa-plus"></i> Agregar
                  </button>
                  </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div *ngIf="isLoading">
        <span class="loader"></span>
    </div>
  
      <div *ngIf="errorMessage" class="results-section">
        <p class="error">{{ errorMessage }}</p>
      </div>
    </div>
  </div>
  