<div class="main-parent-container">
    <div class="profile-container main-child-container">
        <h2>✨ Nuevo viaje</h2>
        <p>Comencemos con algunos datos básicos.</p>
        <form [formGroup]="travelForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="startDate">Fecha de inicio:</label>
                <input id="startDate" type="date" formControlName="startDate" class="form-control">
                <p *ngIf="travelForm.get('startDate')?.touched && travelForm.get('startDate')?.invalid" class="text-danger">
                    Este campo es requerido
                </p>
            </div>

            <div class="form-group">
                <label for="location">Ubicación principal:</label>
                <input id="location" type="text" formControlName="location" class="form-control">
                <p *ngIf="travelForm.get('location')?.touched && travelForm.get('location')?.invalid" class="text-danger">
                    Este campo es requerido
                </p>
            </div>
            <button [disabled]="!travelForm.valid" type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>