/* Fondo oscuro translúcido */
.main-parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/img/imgPaisaje4.webp');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    background-blend-mode: darken; /* Mezcla el fondo con el color oscuro */
    margin: 0;
  }

  /* Contenedor del formulario */
  .profile-container {
    background-color: rgba(255, 255, 255, 0.95); /* Fondo blanco con transparencia */
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  /* Títulos */
  h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1.5rem;
  }
  
  /* Inputs del formulario */
  .form-control {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.3rem;
  }
  
  /* Botón de envío */
  .submit-button {
    background-color: #008cba;
    color: white;
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
  }
  
  .submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .profile-container {
      padding: 1.5rem;
    }
  }