.main-parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/img/imgPaisaje10.jpg'); /* Fondo sin capa oscura */
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/* Contenedor de Perfil */
.profile-container {
    position: relative;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    color: #ffffff;
    width: 600px;
    height: 760px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff; 
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Título */
.profile-container h2 {
    font-size: 3rem;
    color: #02708b; /* Color del texto */
    margin-bottom: 1.5rem;
    font-weight: bold;
}

/* Estilos para los recuadros de los viajes */
.user-travels {
    font-size: 2rem;
    box-shadow: rgba(100, 100, 100, 0.2) 0px 7px 29px 0px;
    padding: 1.5rem;
    padding-top: 20px;
    /* vertical-align: top; */
    background-color: #ffffff;  /* Fondo blanco para los recuadros de los viajes */
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    border-radius: 20px;
    width: 500px;
}

/* Estilo de los botones dentro de los recuadros de los viajes */
.menu-buttons {
    display: flex;
    justify-content: flex-start; /* Alineación de los botones hacia la izquierda */
    gap: 1rem;
}


/* Estilo para los Viajes */
h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #777;
}

p {
    color: #777;
}

