/* Contenedor principal */
.main-parent-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/img/imgPaisaje10.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/* Capa oscurecida para resaltar contenido */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

 /* Contenedor del perfil */
.profile-container {
    position: relative;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    color: #2c2c2c;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Asegura que los contenidos se alineen verticalmente */
    align-items: center;     /* Alinea los elementos horizontalmente */
    width: 90%;
    max-width: 600px;
    box-shadow: var(--box-shadow);
    margin: 0 auto; /* Centrado en el contenedor */
}

/* Títulos */
.profile-container h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.user-travels h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #0077cc;
}

/* Estilo de los recuadros */
.user-travels {
    background: #ffffff;
    border-radius: var(--border-radius-image);
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    width: 60vh;
    margin-bottom: 2rem;
}

/* Botones principales */
.action-buttons .button-main {
    flex-grow: 1;
    text-align: center;
}

.button-main {
    padding: 0.6rem 1rem;
    font-size: 1.3rem;
}


#introduction-data p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

/* Responsivo */
@media (max-width: 768px) {
    .user-travels {
        padding: 1rem;
        width: 50vh;
    }
}

/* Estilo para el formulario de edición */
.swal2-popup {
    width: 100%;
    height: auto; /* Cambiar altura para que se ajuste al contenido */
    max-width: 400px; /* Limitar el ancho del popup */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Asegura que el contenido se alinee arriba */
}

/* Estilo de los campos de entrada (input) */
.swal2-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    text-align: center;
}

/* Estilo para el título */
.swal2-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Estilo de los botones de confirmación y cancelación */
.swal2-confirm, .swal2-cancel {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    width: 48%;
    cursor: pointer;
}

/* Botón de confirmación (color personalizado) */
.swal2-confirm {
    background-color: #013f4e; /* Cambiar a color deseado */
    color: white;
}

/* Botón de cancelación */
.swal2-cancel {
    background-color: #b41c11;
    color: white;
}



