<div class="main-parent-container">
    <div class="profile-container main-child-container">
        <h2>Viajes de {{serverUser?.name}} ✈️</h2>
        <main *ngIf="serverUser?.travel">
            <article class="user-travels" *ngFor="let i of serverUser?.travel">
                <h3><strong>Nombre: </strong>{{i.name}}</h3>
                <p><strong>Ubicación:</strong> {{i.location}}</p>
                <p><strong>Fecha de inicio:</strong> {{i.startDate}}</p>
                <article class="menu-buttons">
                    <a (click)="moreInfoTravel(i.name)" class="button-main">ℹ️ Más información</a>
                    <a (click)="editTravel(i.name)" class="button-main">🖊️ Editar</a>
                    <a (click)="deleteTravel(i.name)" class="button-main">🧹 Borrar</a>
                </article>
            </article>    
        </main>
    </div>  
</div>