<div class="freemode-container">
    <h2>Explora y busca vuelos a lo largo del mundo!</h2>
  
    <form [formGroup]="freemodeForm" (ngSubmit)="onSubmit()">
        <div class="search-section">
          <input type="text" placeholder="Buscar origen..." class="search-input" formControlName="ciudadOrigen" />
          <input type="text" placeholder="Buscar destino..." class="search-input" formControlName="ciudadDestino" />

          <input type="date" placeholder="Fecha de origen..." class="search-input" formControlName="fechaOrigen" />
          <input type="date" placeholder="Fecha de destino..." class="search-input" formControlName="fechaDestino" />

          <button type="submit" class="search-button">Buscar</button>
        </div>
      </form>
      
      <div class="results-section">
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Información Primaria</th>
              <th>Información Secundaria</th>
              <th>Calificación</th>
              <th>Proveedor</th>
              <th>Precio</th>
              <th>Enlace a Reserva</th>
              <th>Agregar al viaje</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
      
  </div>