<div class="freemode-container">
  <h2>¡Explora y busca vuelos a lo largo del mundo!</h2>

  <form [formGroup]="freemodeForm" (ngSubmit)="onSubmit()">
    <div class="search-section">
      <input type="text" placeholder="Buscar origen (código aeropuerto)" class="search-input" formControlName="ciudadOrigen" required />
      <input type="text" placeholder="Buscar destino (código aeropuerto)" class="search-input" formControlName="ciudadDestino" required />

      <input type="date" placeholder="Fecha de ida" class="search-input" formControlName="fechaOrigen" required />
      <input type="date" placeholder="Fecha de regreso (opcional)" class="search-input" formControlName="fechaDestino" />

      <select class="search-input" formControlName="itineraryType">
        <option value="ONE_WAY">Solo ida</option>
        <option value="ROUND_TRIP">Ida y vuelta</option>
      </select>

      <select class="search-input" formControlName="classOfService">
        <option value="ECONOMY">Economía</option>
        <option value="PREMIUM_ECONOMY">Economía Premium</option>
        <option value="BUSINESS">Negocios</option>
        <option value="FIRST">Primera Clase</option>
      </select>


      <input type="number" min="1" placeholder="Número de adultos" class="search-input" formControlName="numAdults" required />
      <input type="number" min="0" placeholder="Número de seniors" class="search-input" formControlName="numSeniors" />

      <select class="search-input" formControlName="sortOrder">
        <option value="PRICE">Ordenar por Precio</option>
        <option value="DURATION">Ordenar por Duración</option>
        <option value="DEPARTURE">Ordenar por Hora de Salida</option>
        <option value="ARRIVAL">Ordenar por Hora de Llegada</option>
      </select>

      <button type="submit" class="search-button">Buscar</button>
    </div>
  </form>

  <div class="results-section">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Información Primaria</th>
          <th>Información Secundaria</th>
          <th>Calificación</th>
          <th>Proveedor</th>
          <th>Precio</th>
          <th>Enlace a Reserva</th>
          <th>Agregar al viaje</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flight of flights">
          <td>{{ flight.name }}</td>
          <td>{{ flight.originAirportCode }} → {{ flight.destinationAirportCode }}</td>
          <td>{{ flight.travelDate }}</td>
          <td>{{ flight.rating || 'N/A' }}</td>
          <td>{{ flight.provider }}</td>
          <td>{{ flight.price | currency }}</td>
          <td><a [href]="flight.reservationLink" target="_blank">Reservar</a></td>
          <td><button (click)="agregarVuelo(flight)">Agregar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
