<div class="main-parent-container">
    <div class="main-child-container">
        <h1>El viaje que quieres, te está esperando</h1>
        <h2>¡Con Wonder Way puedes planificar tu ruta de una forma muy sencilla!</h2>
    <img loading="lazy" class="landscape-image" id="landing-landscape" src="img/landing_landscape.webp" alt="Paisaje">
    <article id="buttons-call-to-action">
        <a class="button-main" href="/login">Iniciar sesión</a>
        <a class="button-main" href="/register">Nueva cuenta</a>
    </article>
    


    <!-- Acá tendría que estar la barra del modo libre -->
    </div>
</div>