<div class="background-container"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title" id="form-title">Modificar Información</h1>
            <p class="card-description">Ingresa información en los campos que quieras modificar</p>
        </div>
        <div class="card-content">
          <!-- 1º form para modificar nombre o emial -->
          <form [formGroup]="profileForm" (ngSubmit)="onProfileSubmit()">
            <div>
              <label>Nombre:</label>
              <input formControlName="name" type="text">
            </div>
            <div>
              <label>Email:</label>
              <input formControlName="email" type="email">
            </div>
            <div>
              <label>Contraseña actual (para verificar):</label>
              <input formControlName="currentPasswordForProfile" type="password">
            </div>
            <button type="submit" [disabled]="!profileForm.valid">Guardar Cambios</button>
          </form>
          <!-- 2º form para modificar contraseña -->
          <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
            <div>
              <label>Contraseña actual:</label>
              <input formControlName="currentPassword" type="password">
            </div>
            <div>
              <label>Nueva contraseña:</label>
              <input formControlName="newPassword" type="password">
            </div>
            <div>
              <label>Confirmar nueva contraseña:</label>
              <input formControlName="confirmPassword" type="password">
            </div>
            <button type="submit" [disabled]="!passwordForm.valid || !passwordsMatch()">Cambiar Contraseña</button>
          </form>



        </div>
    </div>
</div>
