<footer class="bg-dark text-white">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>Sobre Nosotros</h5>
                <p>Somos una empresa que se dedica a planificar viajes integrales.</p>
            </div>
            <div class="col-md-4">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="/homepage" class="text-white">Inicio</a></li>
                    <li><a href="/login" class="text-white">Iniciar sesión</a></li>
                    <li><a href="/register" class="text-white">Registrarse</a></li>
                    <!-- Podríamos agregar "acerca de" y "contacto" o algo así -->
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contactá a los devs 
                  
                </h5>
               
                <ul class="list-unstyled">
                    <li>
                        <a target="blank" href="https://github.com/JuaniiC07" class="text-white">JuaniiC07  <i class="fa-brands fa-github"></i></a></li>
                    <li><a target="blank" href="https://github.com/imonety" class="text-white">iMonety  <i class="fa-brands fa-github"></i></a></li>
                    <li><a target="blank" href="https://github.com/Chiari13" class="text-white">Chiari13  <i class="fa-brands fa-github"></i></a></li>
                    <li><a target="blank" href="https://github.com/soypato" class="text-white">SoyPato  <i class="fa-brands fa-github"></i></a></li>
                    <li><a target="blank" href="https://github.com/ruzito-san" class="text-white">Ruzito  <i class="fa-brands fa-github"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="text-center pt-3">
            <small>&copy; 2024 Wonder Way</small>
        </div>
    </div>
</footer>
