<div class="main-parent-container freemode-container">
    <div class="profile-container main-child-container">
      <h2>Buscar hoteles</h2>
  
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="search-section" class="search">
          <input
            type="text"
            class="search-input"
            formControlName="searchQuery"
            placeholder="Escribe la ciudad"
            required
          />
          <button class="button-main" type="submit" [disabled]="searchForm.invalid">
            <i class="fas fa-search"> Buscar</i>
          </button>
        </div>
      </form>
  
      <div class="results-section" *ngIf="hotels.length > 0" id="restaurants-list">
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Dirección</th>
              <th>Ciudad</th>
              <th>País</th>
              <th>Ver detalles</th>
              <th>Ver imagenes</th>
              <th>Ver opiniones</th>
              <th>Agregar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hotel of hotels">
              <td>{{ hotel.name }}</td>
              <td>{{ hotel.address_obj.street1 }}</td>
              <td>{{ hotel.address_obj.city }}</td>
              <td>{{ hotel.address_obj.country }}</td>
              <td>
              <button class="button-main" (click)="verDetalles(hotel.location_id)">
                <i class="fas fa-plus"></i> Detalles
              </button>
              <td>
                <button class="button-main" (click)="verImagenes(hotel.location_id)">
                  <i class="fas fa-plus"></i> Imágenes
                </button>
                </td>
                <td>
                  <button class="button-main" (click)="verOpiniones(hotel.location_id)">
                    <i class="fas fa-plus"></i> Opiniones
                  </button>
                  </td>
              <td>
                <button class="button-main" (click)="agregarViaje(hotel)">
                  <i class="fas fa-plus"></i> Agregar
                </button>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div *ngIf="isLoading">
        <span class="loader"></span>
    </div>
  
      <div *ngIf="errorMessage" class="results-section">
        <p class="error">{{ errorMessage }}</p>
      </div>
    </div>
  </div>
  