<div class="freemode-container">
    <h2>Explora y busca hoteles a lo largo del mundo!</h2>
  
    <form [formGroup]="freemodeForm" (ngSubmit)="onSubmit()">
        <div class="search-section">
          <input type="text" placeholder="Buscar destino..." class="search-input" formControlName="ciudad" />
          <input type="date" placeholder="Ingrese fecha de salida..." class="search-input" formControlName="checkIn" />
          <input type="date" placeholder="Ingrese fecha de llegada..." class="search-input" formControlName="checkOut" />
          <button type="submit" class="search-button">Buscar</button>
        </div>
      </form>
      
      <div class="results-section">
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Información Primaria</th>
              <th>Información Secundaria</th>
              <th>Calificación</th>
              <th>Proveedor</th>
              <th>Precio</th>
              <th>Enlace a Reserva</th>
              <th>Agregar al viaje</th>
            </tr>
          </thead>
          <tbody>
            <!-- Utilizando *ngFor para iterar sobre los hoteles -->
            <tr *ngFor="let hotel of hoteles">
              <!-- Nombre del hotel -->
              <td>{{ hotel.title }}</td>
      
              <!-- Información adicional sobre el hotel (si existe) -->
              <td *ngIf="hotel.primaryInfo">{{ hotel.primaryInfo }}</td>
              <td *ngIf="!hotel.primaryInfo">No disponible</td>
      
              <!-- Información secundaria (ubicación del hotel, si existe) -->
              <td>{{ hotel.secondaryInfo || 'No disponible' }}</td>
      
              <!-- Calificación del hotel -->
              <td>
                {{ hotel.bubbleRating?.rating || 'N/A' }} / 5 
                ({{ hotel.bubbleRating?.count || '0' }} reseñas)
              </td>
      
              <!-- Proveedor del hotel -->
              <td>{{ hotel.provider }}</td>
      
              <!-- Precio de visualización -->
              <td>{{ hotel.priceForDisplay || 'No disponible' }}</td>

              <!-- Enlace a la reserva -->
              <td>
                <a *ngIf="hotel.commerceInfo?.externalUrl" [href]="hotel.commerceInfo.externalUrl" target="_blank">
                  Ver ofertas
                </a>
              </td>

              <!-- Botón para agregar al viaje -->
              <td>
                <button (click)="agregarViaje(hotel)">Agregar</button>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
      
  </div>