
h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}

#service-list
{
    box-shadow: var(--box-shadow);
    padding: 2rem;
    margin-bottom: 3rem;
}

#print
{
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}