<div class="main-parent-container">
  <div class="profile-container main-child-container">
    <h1>{{travelData.name}}</h1>
    <hr>
    <article id="introduction-data">
      <p>📌 Ubicación | {{travelData.location}}</p>
      <p>📅 Fecha de inicio | {{travelData.startDate}}</p>
      <p>📅 Fecha de fin | {{travelData.endDate}}</p> <!-- Nueva línea para mostrar la fecha de fin -->
    </article>
    <hr>
    <h2>Servicios</h2>
    <main *ngFor="let serv of travelData.services">
      <article *ngIf="isService(serv)" id="service-list">
        <!-- Restaurantes -->
        <div *ngIf="isRestaurant(serv)">
          <h3>🥪 Restaurant | {{ serv.name }}</h3>
          <p>📌 Ubicación | {{ serv.street }}</p>
          <p>⭐ País | {{ serv.country }}</p>
          <p>📖 Código postal: {{ serv.postalCode }}</p>
        </div>

        <!-- Hoteles -->
        <div *ngIf="isHotel(serv)">
          <h3>🏨 Hotel | {{ serv.name }}</h3>
          <p>📌 Ubicación | {{ serv.location }}</p>
          <p>💰 Precio: ${{ serv.price }}</p>
          <p>⭐ Calificación: {{ serv.qualification }} estrellas</p>

        </div>

        <!-- Vuelos -->
           <!-- Hoteles -->
           <div *ngIf="isFlight(serv)">
            <h3>✈️ Vuelo | {{ serv.operatingCarrier }} (Vuelo {{ serv.flightNumber }})</h3>
            <p>📍 Origen: {{ serv.originAirportCode }} → Destino: {{ serv.destinationAirportCode }}</p>
            <p>🕒 Salida: {{ serv.travelDate | date:'short' }}</p>
            <p>🕓 Llegada: {{ serv.returnDate | date:'short' }}</p>
            <p>⏳ Duración: {{ serv.duration }} minutos</p>
            <p>🔴 Escalas: {{ serv.scale }}</p>
            <p>💼 Clase: {{ serv.class }}</p>
            <p>🌍 Internacional: {{ serv.isInternational ? 'Sí' : 'No' }}</p>
          </div>

        <article class="menu-buttons vertical">
          <a (click)="deleteService(serv)" class="button-main danger">
            <i class="fas fa-trash-alt"></i> Eliminar
          </a>
        </article>
      </article>
    </main>

    <div class="menu-buttons vertical">
      <button (click)="addService('hotel')" class="button-main">
        <i class="fas fa-hotel"></i> Agregar hotel
      </button>
      <button (click)="addService('restaurant')" class="button-main">
        <i class="fas fa-utensils"></i> Agregar restaurant
      </button>
      <button (click)="addService('attraction')" class="button-main">
        <i class="fas fa-person"></i> Agregar atracción
      </button>
    </div>
    <button (click)="print()" class="button-main" id="print">
      <i class="fas fa-print"></i> Imprimir / PDF
    </button>
  </div>
</div>