<div class="main-parent-container">
    <div class="main-child-container">
        <h1>Sobre nosotros</h1>
        <p>Wonder Way nace de la visión de un grupo de estudiantes apasionados por el mundo digital y los viajes. Este proyecto, que inicialmente es un trabajo final de carrera, simboliza mucho más: es el primer paso hacia un propósito claro y audaz. Wonder Way busca ser la plataforma que simplifique y optimice la planificación de viajes, permitiendo a las personas explorar, organizar y reservar experiencias de manera sencilla y personalizada.</p>
        
        <p>Con la tecnología como aliada, nuestra misión es crear un espacio donde las personas puedan encontrar toda la información que necesitan para su viaje en un solo lugar. A través de la integración con APIs como Tripadvisor, queremos ofrecer a los viajeros acceso directo a vuelos, hoteles, restaurantes y más. Pero no solo se trata de reunir datos, sino de convertirlos en herramientas útiles para diseñar el viaje ideal.</p>
        
        <p>Wonder Way es un proyecto que evoluciona y aprende, porque sabemos que cada viaje es único y que cada viajero tiene necesidades diferentes. Estamos comprometidos con la innovación y la empatía, brindando una experiencia intuitiva que guíe a los usuarios de forma práctica y amigable.</p>

        <h2>Conoce a Nuestro Equipo</h2>
        <div class="team">
            <div class="team-member">
                <img loading="lazy" src="https://github.com/imonety.png" alt="">
                <a target="blank" href="https://github.com/imonety">Ignacio Acuña</a>
                <p>Desarrollador Frontend</p>
            </div>
            <div class="team-member">
                <img loading="lazy" src="https://github.com/JuaniiC07.png" alt="">
                <a target="blank" href="https://github.com/JuaniiC07">Juan Ciardi</a>
                <p>Desarrollador Frontend</p>
            </div>
            <div class="team-member">
                <img loading="lazy" src="https://github.com/Chiari13.png" alt="">
                <a target="blank" href="https://github.com/Chiari13">Chiara Ciardi</a>
                <p>Desarrolladora Frontend</p>
            </div>
            <div class="team-member">
                <img loading="lazy" src="https://github.com/soypato.png" alt="">
                <a target="blank" href="https://github.com/soypato">Patricio Tubio</a>
                <p>Desarrollador Frontend</p>
            </div>
            <div class="team-member">
                <img loading="lazy" src="https://github.com/ruzito-san.png" alt="">
                <a target="blank" href="https://github.com/ruzito-san">Enzo Güerci</a>
                <p>Desarrollador Backend</p>
            </div>
            
        </div>
    </div>    
</div>